<div class="cellOptions">
  Grid size:
  <input ng-disabled="gameActive"
    class="cellOptions-slider"
    type="range" min="3" max="8" ng-model="gridSize">
  <button class="btn btn-primary"
    ng-disabled="gameActive"
    ng-click="startGame()">Start</button>
  <div>
    <span>Score: {{ score }}</span>
    <span>Round: {{ roundNumber }} of {{ totalRounds }}</span>
    <span ng-show="timeToStartSeconds">Ready in: {{ timeToStartSeconds }}</span>
    <uib-progressbar class="cellOptions-roundProgress"
      max="roundTimeMax"
      value="roundTime"
      animate="false">
    </uib-progressbar>
  </div>
</div>
<table class="cellGrid"
  ng-class="{ 'cellGrid--inactive': !gameActive }">
  <tr class="cellGrid-row"
    ng-repeat="row in gridRange() track by $index">
    <td class="cellGrid-cell"
      ng-class="{ 'cellGrid-cell--active': gameActive, 'cellGrid-cell--mole': isMole(row, cell), 'cellGrid-cell--whacked': isWhacked(row, cell) }"
      ng-click="whackCell(row, cell)"
      ng-repeat="cell in gridRange() track by $index">
    </td>
  </tr>
</table>
