.cellGrid {
  border: 1px solid black;
}

.cellGrid-row {

}

.cellGrid-cell {
  border: 1px solid gray;
  cursor: pointer;
  padding: 5px;
}

.cellGrid-cell.cellGrid-cell--whacked {
  background-color: red;
}
