input[type="range"].cellOptions-slider {
  display: inline;
  width: auto;
}

.cellOptions-input,
.cellOptions-stats,
.postScoreForm {
  align-items: center;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  padding: 5px;
}

.cellOptions-countdown {
  color: #CD0000;
  text-align: center;
  text-transform: uppercase;
}

.cellGrid {
  background-color: #4DBD33;
  border-collapse: separate;
  border-radius: 20px;
  border-spacing: 20px;
  border: 2px solid #565963;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 0;
}

.cellGrid-cell {
  border-radius: 50%;
  border: 2px solid #565963;
  height: 40px;
  padding: 10px;
  width: 40px;
}

.cellGrid-cell.cellGrid-cell--active {
  cursor: pointer;
}

.cellGrid-cell.cellGrid-cell--mole {
  background-color: #8B2500;
  transition: 0.2s ease all;
}

.cellGrid-cell.cellGrid-cell--whacked {
  background-color: #FF0000;
}

.cellGrid-cell.cellGrid-cell--mole.cellGrid-cell--whacked {
  background-color: #FFC125;
}
