input[type="range"].cellOptions-slider {
  display: inline;
  width: auto;
}

.cellOptions-roundProgress {
  width: 300px;
}

.cellGrid {
  border-collapse: separate;
  border-radius: 20px;
  border-spacing: 20px;
  border: 1px solid black;
  margin: 10px 0;
}

.cellGrid.cellGrid--inactive {
  border: 1px solid lightgray;
}

.cellGrid-cell {
  border-radius: 50%;
  border: 1px solid lightgray;
  height: 40px;
  padding: 10px;
  width: 40px;
}

.cellGrid-cell.cellGrid-cell--active {
  border: 1px solid gray;
  cursor: pointer;
}

.cellGrid-cell.cellGrid-cell--mole {
  background-color: gray;
}

.cellGrid-cell.cellGrid-cell--whacked {
  background-color: red;
}

.cellGrid-cell.cellGrid-cell--mole.cellGrid-cell--whacked {
  background-color: green;
}
